:root {
    --primary-color: #F5EFE6;
    --secondary-color: #E8DFCA;
    --tertiary-color: #6D94C5;
    --highlight-color: #CBDCEB;
}

html {
    color: black;
    font-family:  sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin:0;
}

h2 {
    font-size: 26;
    text-align: center;
    margin:0;
    margin-bottom: 16px;
}

p {
    font-size: 20px;
    text-align: center;
    margin:0;
}

body {
    padding: 40px; 
    background-color:var(--secondary-color);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px 24px;
    background-color: var(--primary-color);
    border-radius: 16px;
}

.header {
    padding: 16px 0;   
}

.block{
    min-height: 100px;
    padding: 16px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-button {
    padding: 16px 24px;
    border-radius: 3px;
    border-radius: 16px;
    color: black;
    background-color: var(--tertiary-color);
    text-decoration: none;
}

.link-button:hover {
    background-color: #81aee4;
}

td.content {
    border-style: dotted;
    border-width: 5px;
    border-radius: 30px;
    border-color: white;
}
table.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
}